.CategoriesList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.CategoriesList *{
  width: auto;
  margin: 2px 4px;
  padding: 2px 4px;
  background-color: #1a8;
  font-size: 18px;
}

.selected{
  border: 5px solid #2da
}
